body{
    padding:0;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    list-style-type: none;
    padding:0;
    margin:0;
    display: flex;
    gap: 32px;
    /*TODO: center*/
}

a{
    text-decoration: none;
    color: inherit;
}


.flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero{
    background-color: #1F2937;
    color: white;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.content{
    padding: 64px;
    display: flex;
    gap: 32px
}

.hero .text div{
    margin-top: 8px;
}

.hero .text .main{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero .text button{
    border-style: none;
    margin-top: 8px;
}

.hero .image{
    display: flex;
    background-color: grey;
    justify-content: center;
    align-items: center;
}

.hero .text, .hero .image{
    width: 50%
}

.secondary, .links{
    font-size: 18px;
    color: #E5E7EB;
}

.hero .header,.hero .content, .card-container, .quote-container{
    min-width: 1000px;
    max-width: 1100px;
    flex: 1 1 auto;
}

.info{
    text-align: center;
    color: #1F2937;
    font-weight: bolder;
    font-size: 48px;
    margin: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-container{
    display: flex;
    justify-content: space-between;
    margin: 48px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 200px;
}

.card .image{
    border-radius: 8px;
    border-style: solid;
    border-color: #3882f6;
    height: 200px;
    width: 200px;
    flex: 1 1 auto;
}

.card .text{
    font-size: 18px;
    color: grey
}

.banner{
    display: flex;
    background-color: #E5E7EB;
    justify-content: center;
    width: 100%;
}

.quote-container{
    display: flex;
    flex-direction: column;
    padding: 100px;
}

.quote{
    font-style: italic;
    
}

.author{
    margin-left: auto;
    font-weight: bold;
}

.quote, .author{
    font-size: 36px;
    color: #1F2937;
}

button{
    color:white;
    background-color: #3882f6;
    border-radius: 5px;
    padding: 8px;
    padding-left: 24px;
    padding-right: 24px;
    border-color: #E5E7EB;
    border-style: solid;
}

button:hover{
    background-color: #E5E7EB;
    color: #3882f6;
}

.call{
    margin: 64px;
    border-radius: 8px;
    width: 800px;
    background-color: #3882f6;
    color: #E5E7EB;
    padding: 50px;
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
    justify-content: space-between;
}

.call .main{
    font-size: 20px;
    font-weight: bolder;
}

.footer{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
}

